.flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: grid;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-flow: row;
}
.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  grid-auto-flow: column;
}

.dense {
  grid-auto-flow: dense;
}

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.x {
  -ms-flex-pack: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  place-items: center center;
}

.jis {
  justify-items: flex-start;
}

.jie {
  justify-items: flex-end;
}

.jic {
  justify-items: center;
}

.jif {
  justify-items: stretch;
}

.ais {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.aie {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.aic {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aif {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.jcs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.jce {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.jcc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jcb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jca {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.jcv {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.acs {
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.ace {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.acc {
  -ms-flex-line-pack: center;
  align-content: center;
}

.acb {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.aca {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.acv {
  -ms-flex-line-pack: space-evenly;
  align-content: space-evenly;
}

.ass {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.ase {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.asc {
  -ms-flex-item-align: center;
  align-self: center;
}

.asf {
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.jss {
  justify-self: flex-start;
}

.jse {
  justify-self: flex-end;
}

.jsf {
  justify-self: stretch;
}

.jsc {
  justify-self: center;
}
